body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head-style{
  color: rgb(32, 33, 32);
  border-bottom: 2px solid;
}
.btn-width{
  width: 30%;
}
.Form-width{
  width:35%;
}
/* .navbar-nav .active h6  { 
  border-bottom: 2px solid;
  color: rgb(82, 102, 142);
} */
.input-width{
  width: 60%;
}
.div-height{
  height: 10px;
}
.gen-color{
  background: rgb(164, 168, 164);
}

.btn-radius{
  border-radius: 15px;
}